.drop-mic ul li span {
  /* prop, durations, easing, delay */
  transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
  opacity: 0;
}

.drop-mic ul:hover li span {
  /* prop, durations, easing, delay */
  transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  opacity: 1;
}
